/* style.css */
:root {
  --pokeball-red: rgb(248, 53, 38);
  --pokeball-red-2: rgb(193, 45, 24);
  --pokeball-black: rgb(71, 79, 78);
  --pokemon-title-yellow: #ffde00;
  --pokemon-title-blue: #3b4cca;

  --gradient-color-1: var(--pokeball-red);
  --gradient-color-2: var(--pokeball-black);
  --gradient-color-3: white;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: var(--gradient-color-1);
  background: linear-gradient(
    112deg,
    var(--gradient-color-1) 33%,
    var(--gradient-color-2) 33%,
    var(--gradient-color-2) 66%,
    var(--gradient-color-3) 66%
  );
}

#app {
  display: grid;
  grid-template-rows: min-content auto;
  gap: 1rem
}

.card {
  text-align: center;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 0;
  -webkit-text-fill-color: 	var(--pokemon-title-yellow);
  -webkit-text-stroke: 3px var(--pokemon-title-blue);
}

p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.pokemon-pic {
  width: 100px;
  height: 100px;
  border: 3px solid var(--pokeball-black);
  border-radius: 6px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper > input {
  border: 3px solid var(--pokeball-black);
  padding: 0.5rem 1rem;
  border-radius: 6px 0 0 6px;
  border-right: 6px solid var(--pokeball-black);
}

.input-wrapper > button:focus,
.input-wrapper > input:focus {
  outline: none;
  border-color: var(--pokemon-title-blue);
  box-shadow: 0 0 5px var(--pokemon-title-blue);
}

.input-wrapper > button {
  color: white;
  background-color: var(--pokeball-red);
  padding: 0.5rem 1rem;
  font-size: 1em;
  border: 3px solid var(--pokeball-red-2);
  border-left: 6px solid var(--pokeball-red-2);
  border-radius: 0 6px 6px 0;
}

.input-wrapper > button:hover {
  background-color: var(--pokeball-red-2);
  cursor: pointer;
}

#flavour-text {
  font-style: italic;
  margin-top: 1rem;
  color: var(--pokeball-black);
}

.error {
  color: var(--pokeball-red-2);
}
